@model IEnumerable<GetToDuItemViewModel>

    <h2>TODO LIST</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Is Complete</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.IsComplete</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id">
                      <div class="btn-group btn-group-sm">
                        <button class="btn btn-outline-info">
                                <a class="nav-link text-dark" asp-action="Create" asp-route-id="@item.Id">Edit</a>
                        </button>
                        <button type="submit" class="btn btn-outline-danger"
                         onclick="return confirm('Are you sure to delete yhis record')">
                              Delete
                        </button>
                      </div>
                    </form>
                  
                </td>
            </tr>
        }
    </tbody>
    </table>